{%extends 'base.html'%}
{%load static%}
{%block content%}
<form method="POST" class="flex justify-center mx-auto">{% csrf_token %}
    <div class="space-y-4 pt-20">
        <h1 class="text-center">Change Password</h1>
        <p><input name="old_password" class="rounded-lg" placeholder="Old password" type="password" id="id_old_password" required="true"></p>
        <p><input name="new_password1" class="rounded-lg" placeholder="New password" type="password" id="id_new_password1" required="true"></p>
        <p><input name="new_password2" class="rounded-lg" placeholder="Confirm password" type="password" id="id_new_password2" required="true"></p>

        {% for field in form %}
        {% for error in field.errors %}
            <p class="text-red-500">{{ error }}</p>
        {% endfor %}
        {% endfor %}
    
        <button class="px-2 py-1 border-2 rounded-lg focus:border-blue-500 bg-blue-500 text-white" type="submit">Update</button>
    </div>
      
</form>
{%endblock%}