{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="flex justify-center mx-auto border-x-2 border-gray-200 max-w-4xl h-screen">
	<section>
		<div class="flex justify-center">
			<a href="{%url 'login'%}"><i class="mt-12 border-gray-200 border-2 px-4 py-3 rounded-lg fa-solid fa-arrow-left"></i></a>
		</div>
		<div class="pt-16">
			<form method="POST">{% csrf_token %}
				<h1 class="mb-5 font-semibold text-center">Reset Password</h1>
				
				<p class="pb-4 pt-8"><input name="email" class="rounded-lg" placeholder="Email address" type="email" id="id_email" required="true"></p>
				<p class="flex justify-center"><button class="px-2 py-1 border-2 rounded-lg focus:border-blue-500 bg-blue-500 text-white" type="submit">Send reset email</button></p>
						  
			</form>
		</div>
	</section>
</div>
{%include 'partials/footnote.html'%}


{%endblock%}