{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="dark:bg-black">
    <div class="bg-white dark:bg-black">
        <div class="text-gray-100 flex justify-center mx-auto pb-4 sticky top-0 bg-white dark:bg-black z-10">
            {%include 'partials/navbar2.html'%}
        </div>
        {%if all_comments%}
        <div class="bg-white dark:bg-black flex justify-center mx-auto max-w-6xl">
        {%else%}
        <div class="bg-white dark:bg-black flex justify-center mx-auto max-w-6xl h-screen">
        {%endif%}
            <div class="pt-7 border-l-2 border-gray-200 dark:border-gray-600 w-full">
                <div class="mb-60 justify-center space-x-4 mx-8">
                    <img src="{{post.profile.profile_pics.url}}" alt="" class="w-32 h-32 rounded-full">
                    <a class="text-blue-600 font-bold" href="{%url 'core:profile' username=post.user%}">@{{post.user}}</a>
                    <p class="text-gray-600 dark:text-white break-all">{{post.caption}}</p>   
                </div>
                {%if all_comments%}
                <div class="border-t-2 border-gray-300 dark:border-gray-700">
                    <form action="" class="items-center mb-14 mt-7 px-2" method="post">{%csrf_token%}
                        <textarea id="comment" name="comments" class="w-full h-44 resize-none px-4 py-2 rounded-lg border-2 border-gray-400" placeholder="Add a comment"></textarea>
                        <input disabled class="text-black bg-gray-300 px-3 rounded-full cursor-pointer" id="submit_button" type="submit" value="Post">
                    </form>
                </div>
                <div class="dark:bg-black bg-white">
                    {%for all_comment in all_comments reversed%}
                    <div class="border-y-2 border-gray-300 dark:border-gray-700">
                        <div class="flex-col mx-8 py-10">
                            <div>
                                <a href="{%url 'core:profile' username=all_comment.author%}"><img src="{{all_comment.profile.profile_pics.url}}" class="w-14 h-14 rounded-full" alt=""></a>
                            </div>
                            <div class="space-x-4">    
                                <div>
                                    <a href="{%url 'core:profile' username=all_comment.author%}"><span class="text-blue-600 font-bold">@{{all_comment.author}}</span></a><span class=" dark:text-white break-words">&nbsp;&nbsp;&nbsp;{{all_comment.comments}}</span>
                                </div>
                            </div>
                            <p class="dark:text-gray-400">{{all_comment.time_of_comment}}</p>
                        </div>               
                    </div>
                    {%endfor%}
                </div>
                {%else%}
                <div class="border-t-2 border-gray-300 dark:border-gray-700">
                    <form action="" class="items-center mb-14 mt-7 px-2" method="post">{%csrf_token%}
                        <textarea id="comment" name="comments" class="w-full h-44 resize-none px-4 py-2 rounded-lg border-2 border-gray-400" placeholder="Add a comment"></textarea>
                        <input disabled class="text-black bg-gray-300 px-3 rounded-full cursor-pointer" id="submit_button" type="submit" value="Post">
                    </form>
                </div>
                {%endif%}   
            </div>
        </div>
    </div>   
    {%include 'partials/footnote.html'%} 
</div>
<script type="text/javascript">
//event listener to enable and disable the post button
const comment = document.getElementById('comment')
const searchbutton = document.getElementById('submit_button')

comment.addEventListener('keyup', (e)=>{
    const value = e.currentTarget.value;
    if(value==""){
        submit_button.classList.replace("bg-blue-600", 'bg-gray-300')
        submit_button.classList.replace("text-white", 'text-black')
        submit_button.disabled = true
    }
    else{
        submit_button.classList.replace('bg-gray-300', "bg-blue-600")
        submit_button.classList.replace('text-black', "text-white")
        submit_button.disabled = false
        
    }
})

//toggle functionality for light/dark modes
const sunIcon = document.getElementById('sun')
const moonIcon = document.getElementById('moon')

const userTheme = localStorage.getItem('theme')
const systemTheme = window.matchMedia('(prefered-color-scheme: dark)').matches

const iconToggle = ()=>{
    sunIcon.classList.toggle('hidden')
    moonIcon.classList.toggle('hidden')
}

const themeCheck = ()=>{
    if(userTheme === 'dark' || (!userTheme && systemTheme)){
        document.documentElement.classList.add('dark')
        moonIcon.classList.add('hidden')
        return;
    }
    sunIcon.classList.add('hidden')
}

const themeSwitch = ()=> {
    if (document.documentElement.classList.contains('dark')){
        document.documentElement.classList.remove('dark')
        localStorage.setItem('theme', 'Light')
        iconToggle()
        return;
    }
    document.documentElement.classList.add('dark');
    localStorage.setItem('theme', 'dark')
    iconToggle()
}

sunIcon.addEventListener('click', ()=>{
    themeSwitch()
})

moonIcon.addEventListener('click', ()=>{
    themeSwitch()
})

themeCheck()
</script>
{%endblock%}