{%extends 'base.html'%}
{%load static%}
{%block title%}Email confirmation{%endblock title%}

{%block content%}
    {% if success %}
        <div class="flex justify-center mx-auto">
            <div class="mt-20">
                <p>Dear {{ user.first_name }}, your account is confirmed!</p>
                <p>You can go ahead and <a href="https://socialsbyjonah.social/login" class="text-blue-500">Login</a></p>
            </div>    
        </div>    
    {% else %}
        <div class="flex justify-center mx-auto">
            <div class="mt-20">
                <p class="text-red-500">Error, invalid link!</p> 
            </div>    
        </div>
    {% endif %}
{%endblock%}