{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="dark:bg-black">
    <div class="dark:bg-black flex max-w-4xl flex-col justify-center mx-auto border-x-2 border-gray-100 dark:border-gray-800">
        <div class="flex justify-between max-w-4xl mx-auto container pt-10 dark:bg-black px-4">
            <a href="/" class="text-blue-600 p-2 sm:p-3 md:px-6 bg-gray-200 rounded-full text-sm sm:text-lg mx-2 md:mx-6"><i class="fa-solid fa-users"></i></a>
            <p id="sun" class="dark:text-white text-sm sm:text-lg p-2 sm:p-3 hover:bg-gray-200 dark:hover:bg-gray-800 mx-2 md:mx-6 rounded-full"><i class="fa-solid fa-sun"></i></p>
            <p id="moon" class="text-sm sm:text-lg p-2 sm:p-3 rounded-full hover:bg-gray-200 mx-2 md:mx-6 dark:hover:bg-gray-800"><i class="fa-solid fa-moon"></i></p>
        </div>
        <div class="h-screen dark:bg-black space-y-10 mt-40">
            <p class="text-center dark:text-white">Dear @{{user.username}},</p>
            <p class="text-center dark:text-white">Are You Sure You Want To Delete Your Account?</p>
            <div class="flex justify-around">
                <a class="p-1 rounded-lg border-2 bg-red-500 text-white" href="/confirm_delete_account?user_id={{user.id}}">Yes</a>
                <a class="p-1 rounded-lg border-2 bg-blue-500 text-white" href="/profile/{{user.username}}">Cancel</a>
            </div>
        </div>
    </div>
    {%include 'partials/footnote.html'%}
</div>



<script>
   //toggle functionality for light/dark modes
const sunIcon = document.getElementById('sun')
const moonIcon = document.getElementById('moon')

const userTheme = localStorage.getItem('theme')
const systemTheme = window.matchMedia('(prefered-color-scheme: dark)').matches

const iconToggle = ()=>{
    sunIcon.classList.toggle('hidden')
    moonIcon.classList.toggle('hidden')
}

const themeCheck = ()=>{
    if(userTheme === 'dark' || (!userTheme && systemTheme)){
        document.documentElement.classList.add('dark')
        moonIcon.classList.add('hidden')
        return;
    }
    sunIcon.classList.add('hidden')
}

const themeSwitch = ()=> {
    if (document.documentElement.classList.contains('dark')){
        document.documentElement.classList.remove('dark')
        localStorage.setItem('theme', 'Light')
        iconToggle()
        return;
    }
    document.documentElement.classList.add('dark');
    localStorage.setItem('theme', 'dark')
    iconToggle()
}

sunIcon.addEventListener('click', ()=>{
    themeSwitch()
})

moonIcon.addEventListener('click', ()=>{
    themeSwitch()
})

themeCheck() 
</script>
{%endblock%}