{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="dark:bg-black overflow-hidden">
    <div class="text-gray-100 flex justify-center mx-auto pb-4 sticky top-0 bg-white dark:bg-black z-10">
        {%include 'partials/navbar2.html'%}
    </div>
    <div class="flex justify-center items-center max-w-6xl mx-auto bg-white dark:bg-black">
        <div class="border-l-2 border-gray-300 dark:border-gray-600 w-full h-screen">
            <div class="flex justify-between mb-3 px-10 text-xl font-semibold border-b-2 border-gray-300 dark:border-gray-600 pb-2">
                <span class="text-blue-600 hover:bg-gray-200 dark:hover:bg-gray-800 px-10 py-2">Followers</span>
                <a href="../following?username={{user_profile.user.username}}" class="hover:bg-gray-200 dark:hover:bg-gray-800 px-10 py-2 text-gray-600 dark:text-white">Following</a>
            </div>
            {%if profiles%}
                {%for profile in profiles reversed%}
                <div class="flex justify-between py-4 px-2">
                    <div>
                        <a href="{%url 'profile' username=profile.user.username%}" class="flex space-x-3">
                            <img class="rounded-full w-14 h-14" src="{{profile.profile_pics.url}}" alt="profile_image">
                            <div>
                                <p class="font-semibold text-gray-700 dark:text-white">@{{profile.user.username}}</p>
                                <span class="flex space-x-2">
                                    <p class="text-gray-500 dark:text-gray-400 first-letter:uppercase">{{profile.name_first}}</p>
                                    <p class="text-gray-500 dark:text-gray-400 first-letter:uppercase">{{profile.name_last}}</p>
                                </span>
                            </div>    
                        </a>
                    </div>
                    <div class="font-semibold pb-2 text-blue-500 pr-6">
                        {%if profile.user.username == profile.followers.following%}
                            <p class="px-2 bg-white rounded-md duration-300 hover:bg-gray-200">Following</p>
                        {%else%}
                            <a href="/follow?otherusername={{profile.user.username}}"><p class="px-2 bg-white rounded-md duration-300 hover:bg-gray-200">Follow Back</p></a>
                        {%endif%}
                    </div>
                </div>
                {%endfor%}     
            {%else%}
            <div class="mt-20 flex justify-center text-gray-600 dark:text-gray-200 md:pr-16">
                <div class="flex flex-col items-center">
                    <i class="fa-solid fa-user-plus text-7xl p-10 border-2 border-gray-600 dark:border-gray-200 rounded-full w-40 h-40"></i>
                    <p class="font-semibold text-5xl py-10">Followers</p>
                    <p class="flex text-center text-lg">You'll see all the accounts who follow you here.</p>
                </div>   
            </div>    
            {%endif%}
        </div>    
    </div>
    {%include 'partials/footnote.html'%}
</div>
<script type="text/javascript">
//toggle functionality for light/dark modes
const sunIcon = document.getElementById('sun')
const moonIcon = document.getElementById('moon')

const userTheme = localStorage.getItem('theme')
const systemTheme = window.matchMedia('(prefered-color-scheme: dark)').matches

const iconToggle = ()=>{
    sunIcon.classList.toggle('hidden')
    moonIcon.classList.toggle('hidden')
}

const themeCheck = ()=>{
    if(userTheme === 'dark' || (!userTheme && systemTheme)){
        document.documentElement.classList.add('dark')
        moonIcon.classList.add('hidden')
        return;
    }
    sunIcon.classList.add('hidden')
}

const themeSwitch = ()=> {
    if (document.documentElement.classList.contains('dark')){
        document.documentElement.classList.remove('dark')
        localStorage.setItem('theme', 'Light')
        iconToggle()
        return;
    }
    document.documentElement.classList.add('dark');
    localStorage.setItem('theme', 'dark')
    iconToggle()
}

sunIcon.addEventListener('click', ()=>{
    themeSwitch()
})

moonIcon.addEventListener('click', ()=>{
    themeSwitch()
})

themeCheck()
</script>


{%endblock%}