{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="bg-white dark:bg-black">
    <div class="flex justify-center pb-4 sticky top-0 bg-white dark:bg-black z-10">
        {%include 'partials/navbar2.html'%}
    </div>
    <section class="post_id flex justify-center mx-auto bg-white dark:bg-black max-w-6xl">
        {%if posts%}
        <div class = "container max-w-xl border-x-2 px-2 border-gray-200 dark:border-gray-600 pb-20 sm:pb-0">
        {%else%}
        <div class = "container max-w-xl border-x-2 px-2 border-gray-200 dark:border-gray-600 pb-20 sm:pb-0">
        {%endif%}
            <a href="{% url 'profile' username=user_object.username %}">
                <p class="text-blue-600 text-lg font-bold p-4 cursor-pointer">@{{user_profile.user.username}}</p>   
            </a>
            <a href="{% url 'profile' username=user_object.username %}"><img src="{{user_profile.profile_pics.url}}" class="w-32 h-32 items-center mx-auto profile_img border-2 border-gray-200 dark:border-gray-600"alt="Image"></a>
            <div class="mr-0 rounded-md px-2 pt-6">
                <form action="" id="post_button" method="POST" enctype="multipart/form-data" class="post_form">{%csrf_token%}
                    <textarea id="caption" type="text" autocomplete="off" class="resize-none mt-2 w-full h-36 border-2 pl-2 rounded-md" name="caption" placeholder="What's on your mind?"></textarea>
                    <input id="postimage" type="file" accept=".jpeg, .jpg, .mp4, .mkv, .png, .gif" class="cursor-pointer text-black bg-gray-100 rounded-md font-normal" name="postimage">
                    <div class="flex justify-between mt-5">
                        <p id="cancelbutton" class="text-black border-2 border-gray-500 rounded-full px-2 bg-gray-100 cursor-pointer hover:bg-red-400 duration-300 hover:text-white">Cancel</p>
                        <input disabled id="post" type="submit" class="rounded-full border-2 cursor-pointer border-gray-500 px-2 text-black bg-gray-100" value="Post">   
                    </div>
                </form>    
            </div>
            {%if posts%}
                <div id="post_id" class="mt-10 space-y-3">
                    {%for post in posts reversed%}
                    <div class="border-t-2 border-gray-200 dark:border-gray-600">
                        <div class="postdiv mb-10 mt-10 overflow-hidden bg-gray-100 dark:bg-gray-900 rounded-md border-2 border-gray-100 dark:border-gray-800">
                            <div class="flex justify-between mb-3">
                                <a href="{% url 'profile' username=post.user %}">
                                    <p class="p-3 font-semibold cursor-pointer text-black hover:underline dark:text-gray-200">@{{post.user}}</p>
                                </a>
                                <div class="block mr-5">
                                    <div class="flex justify-center">
                                        <i id="ellipsis" class="postoption fa-solid fa-ellipsis p-2 mt-2 cursor-pointer hover: border-gray-200 hover:rounded-full hover:bg-gray-200 duration-500 dark:text-gray-200 dark:hover:bg-gray-700"></i>
                                    </div>
                                </div>   
                            </div>
                            <div id ="follow-delete" class="deletepost opacity-0 cursor-pointer flex justify-end mr-5 -mt-5 mb-3">
                                {%if post.user == user_profile.user.username%}
                                    <div>
                                        <!--<form action="" method="POST">{%csrf_token%}-->
                                            <a href="/delete-post?post_id={{post.id}}">
                                                <span class="lowercase text-red-500 pr-2">
                                                    Delete
                                                </span>   
                                                <i class="fa-solid fa-trash pt-1 text-red-500"></i>
                                            </a>    
                                        <!--</form>--> 
                                    </div>     
                                {%else%}
                                    <a href="/follow?username={{post.user}}">
                                        <span class=" text-red-500 font-semibold hover:underline">Unfollow</span><i class="fa-solid fa-user-minus pt-1 text-red-500 pl-2"></i>
                                    </a>
                                {%endif%}
                            </div>
                            <div class="form_data">
                                {%if post.post_file%}
                                    <a href="{{post.post_file.url}}">
                                        {%if '.mp4' in post.post_file.url%}
                                        <div class="">
                                            <video controls src="{{post.post_file.url}}" class="cursor-pointer"></video>
                                        </div>  
                                        {%elif '.mkv' in post.post_file.url%}
                                        <div class="">
                                            <video controls src="{{post.post_file.url}}" class="cursor-pointer"></video>
                                        </div>  
                                        {%else%}
                                            <div class="flex justify-center bg-white dark:bg-gray-800">
                                                <img src="{{post.post_file.url}}" class="cursor-pointer h-64 object-scale-down" alt="Post Image">
                                            </div>
                                        {%endif%}
                                    </a>
                                    <div class="flex justify-between">
                                        <p class="px-4 pt-2 dark:text-gray-200">{{post.caption}}</p>
                                        <a href="{{post.post_file.url}}" download><i class="text-2xl fa-solid fa-download m-4 dark:text-gray-200"></i></a>   
                                    </div>
                                {%else%}
                                    <p class="px-4 dark:text-gray-200">{{post.caption}}</p> 
                                {%endif%}
                            </div>
                            <div class="p-4">
                                <div class="flex">
                                    <!--<form action="" class="like" id="like" method="POST"> {%csrf_token%}
                                        <a href="/like-post?post_id={{post.id}}">
                                            {%if post.id == liked_post.post_id%}
                                            <i id="like_button" class="text-2xl like_button fa-solid fa-heart cursor-pointer text-blue-600" name="post_id" id="post_id"></i>
                                            {%else%}
                                            <i id="like_button" class="text-2xl like_button fa-regular fa-heart cursor-pointer dark:text-gray-300" name="post_id" id="post_id"></i>        
                                            {%endif%}
                                        </a>  
                                    </form>-->   
                                    <button class="like">
                                   
                                        {%if post.likes.count >= 1%}
                                       
                                        <i class="like_button text-2xl text-blue-500 fa-solid fa-heart cursor-pointer dark:text-blue-500" name="post_id" id="post_id"></i>
                                        {%else%}
                                        <i class="like_button text-2xl fa-regular fa-heart cursor-pointer dark:text-gray-300" name="post_id" id="post_id"></i>
                                        {%endif%} 
                                
                                    </button>
                                    <a href="{%url 'comments' post_id=post.id %}">
                                        <i class="text-2xl fa-regular fa-comment pl-4 dark:text-gray-300"></i>
                                    </a>    
                                </div>
                                <p class="num dark:text-gray-400">{{post.num_of_likes}} 
                                    {%if post.num_of_likes == 0%}
                                        likes
                                    {%elif post.num_of_likes == 1%}
                                        like
                                    {%else%}
                                        likes
                                    {%endif%}
                                </p>
                                {%if post.no_of_comments == 0%}
                                <p class="dark:text-gray-400 text-gray-500">No comments</p>
                                {%else%}
                                <a href="{%url 'comments' post_id=post.id %}"><p class="dark:text-gray-400 text-gray-500">View all {{post.no_of_comments}} comments</p></a>
                                {%endif%}
                                <p class="dark:text-gray-300">{{post.time_of_post}}</p>
                            </div>
                        </div>
                        
                    </div>
                    {%endfor%}
                </div>
            {%else%}
            <div class="pb-28">
                <p class="dark:text-gray-100 text-black text-2xl text-center font-semibold mt-32 px-2 pb-4">Welcome to <span class="text-blue-600 italic">Social Book</span> &nbsp;<i class="fa-solid fa-users text-blue-600 p-4 bg-gray-300 rounded-full"></i></p>
                <p class="dark:text-gray-300 text-black text-center font-semibold text-xl px-2">Posts you upload and those of accounts you follow will be displayed here.</p>
            </div>
            {%endif%}    
        </div>
        <div class="display-none lg:flex flex-col w-full">
            <div>
                <p class="dark:text-gray-200 text-gray-900 px-2 py-4 font-semibold border-t-2 border-gray-200 mt-5 dark:border-gray-700">Suggested For You</p>
                {%for other_profile in other_profiles%}
                    
                    <div class="other_profiles flex justify-between bg-gray-100 dark:bg-gray-900  m-7 p-4 rounded-md">
                        <a href="{% url 'profile' username=other_profile.user.username %}">
                            <div>
                                <p class="text-black dark:text-gray-200 pl-2 pb-2 font-semibold">@{{other_profile.user.username}}</p>
                                <img src="{{other_profile.profile_pics.url}}" class="profile_img w-24 h-24 border-2 border-gray-300 dark:border-0" alt="">
                            </div>
                        </a>
                        <span class="my-auto">
                            <!--<a href="{% url 'profile' username=other_profile.user.username %}" name="username">
                                <p class="bg-blue-600 text-white p-3 rounded-full cursor-pointer hover:bg-blue-500 duration-500">
                                    View Profile
                                </p>
                            </a>-->
                            
                            <p class="followed dark:text-gray-300"></p>
                         
                            
                            
                            
                            <button class="follow_btn">
                                <p class="follow bg-blue-600 text-white p-3 rounded-full cursor-pointer hover:bg-blue-500 duration-500">
                                    Follow
                                </p>
                            </button>
                            
                            
                        </span>
                    </div> 
                       
                {%endfor%}
            </div>    
        </div>
    </section>   
    {%include 'partials/footnote.html'%}
</div>

<script type="text/javascript">
    
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

const postdiv1 = document.getElementsByClassName('postdiv')

let posts_ids = []
let posts = '{{joined}}'
let new_posts = posts.replace(/&#x27;/ig, '"')
let final_posts = new_posts.replace(/UUID/ig, '')
let last_posts = final_posts.replaceAll('(', '')
let finite_posts = last_posts.replaceAll(')', '')
let end_posts = finite_posts.replace(/datetime.datetime/ig, '"datetime.datetime')
let total_posts = end_posts.replace(/utc/ig, 'utc"')
let js_posts = JSON.parse(total_posts)

for(i=0;i<postdiv1.length;i++){
        let post_id = js_posts[i]["id"]
        posts_ids.push(post_id)
}    

/*let posts_ids_strings = JSON.stringify(posts_ids)*/

let num_of_likes = document.getElementsByClassName('num')
const like_btn = document.getElementsByClassName('like_button')
var responseClone
let url ="like-post"
for(i=0;i<posts_ids.length;i++){
    function likePost(i){
    like_btn[i].addEventListener('click',()=>{
        let data = {id:posts_ids[i]}
        console.log(total_posts)
        console.log(js_posts)
        console.log(posts_ids)
        fetch( url, {
            method: "POST",
            headers: {"Content-Type":"application/json",
                    'X-CSRFToken': csrftoken},
            body : JSON.stringify(data),
        })
        .then(function (response){
            responseClone = response.clone()
            return response.json()
        })
        .then(function (data) {
            console.log(data)
            if (data["checker"]==1){
                like_btn[i].classList.remove("fa-regular","dark:text-gray-300")
                like_btn[i].classList.add("fa-solid","text-blue-500","dark:text-blue-500")
            }
            if (data["checker"]==0){
                like_btn[i].classList.add("fa-regular","dark:text-gray-300")
                like_btn[i].classList.remove("fa-solid","text-blue-500","dark:text-blue-500")
            }
            if(data['num_of_likes'] == 0){
                 num_of_likes[i].innerHTML = data['num_of_likes'] + " likes"}
            else if (data['num_of_likes'] == 1){
                 num_of_likes[i].innerHTML = data['num_of_likes'] + " like"
            }
            else{
                num_of_likes[i].innerHTML = data['num_of_likes'] + " likes"
            }
        },function(rejectionReason){
            console.log("Error parson JSON from response:",rejectionReason, responseClone)
            responseClone.text()
            .then(function(bodyText){
                console.log("Received the following instead of valid JSON:", bodyText)
            })
        })    
    }) 
} 
likePost(i)
}

let other_profiles = document.getElementsByClassName('other_profiles')
let option = document.getElementsByClassName('follow')
let followed = document.getElementsByClassName('followed')
const follow_btn = document.getElementsByClassName('follow_btn')
let profiles_usernames = []
let profiles = "{{suggest}}"
let new_profiles = profiles.replace(/&#x27;/ig, '"')
let final_profiles = new_profiles.replace(/UUID/ig, '')
let last_profiles = final_profiles.replaceAll('(', '')
let finite_profiles = last_profiles.replaceAll(')', '')
let end_profiles = finite_profiles.replace(/datetime.datetime/ig, '"datetime.datetime')
let total_profiles = end_profiles.replace(/utc/ig, 'utc"')
let totals = total_profiles.replace(/None/ig, '""')
let js_profiles = JSON.parse(totals)

for(i=0;i<other_profiles.length;i++){
    let profile_username = js_profiles[i]["username"]
    profiles_usernames.push(profile_username)
}

for(i=0;i<other_profiles.length;i++){
    function follow(i){
        follow_btn[i].addEventListener('click',()=>{
            let data = {username:profiles_usernames[i]}
            console.log(totals)
            console.log(profiles_usernames)
            fetch("{%url 'follow'%}",{
                method: "POST",
                headers: {"Content-Type":"application/json",
                        "X-CSRFToken": csrftoken},
                body: JSON.stringify(data),
            })
            .then(function(response){
                responseClone = response.clone()
                return response.json()
            })
            .then(function(data){
            console.log(data)
            if (data['checker']==1){
                follow_btn[i].classList.add('hidden')
                followed[i].innerHTML = "Following"
                    
            }
            else if (data['checker']==0){
                option[i].classList.remove("bg-red-400","hover:bg-red-500")
                option[i].classList.add("bg-blue-500","hover:bg-blue-600")
                option[i].innerHTML = "Follow"
            }
            },function(rejectionReason){
            console.log("Error parson JSON from response:",rejectionReason, responseClone)
            responseClone.text()
            .then(function(bodyText){
                console.log("Received the following instead of valid JSON:", bodyText)
            })
        })
        })
    }
follow(i)
}

</script>
{%endblock%}