{%extends 'base.html'%}
{%load static%}

{%block content%}
<div class="bg-black flex justify-center items-center h-screen">
    <div class="my-64 border-2 border-blue-200 rounded-lg p-20">
        <p class="text-blue-500 font-bold text-2xl text-center mb-4">LOGIN</p>
        {%for message in messages%}
            <span class="text-red-400">{{message}}</span>
        {%endfor%}
        <p class="text-white">Don't have an account?
            <a href="{%url 'core:signup'%}" class="text-blue-500 hover:text-blue-400">Sign Up</a>
        </p>
        <form action="" method="POST" class="pt-6">{%csrf_token%}
            <p class="pb-2"><input class="px-2" required type="text" placeholder="Username" name="username"></p>   
            <p class="pb-6"><input class="px-2" required type="password" placeholder="Password" name="password"></p>   
            <p class="pb-2"><input class="text-black bg-white px-2 cursor-pointer rounded-md hover:bg-blue-500 duration-300 hover:text-white"type="submit" value="submit"></p>
        </form>
    </div>
</div>
{%include 'partials/footnote.html'%}
{%endblock%}