{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="dark:bg-black h-full">
    <div class="text-gray-100 flex justify-center mx-auto pb-4 sticky top-0 bg-white dark:bg-black z-10">
        {%include 'partials/navbar2.html'%}
    </div>
    <div class="flex justify-center bg-white dark:bg-black max-w-6xl mx-auto overflow-y-hidden">
        <div class="border-l-2 border-gray-300 dark:border-gray-600 px-2 pt-10 w-full">
            <div class="flex justify-between pb-3">
                <span>
                    <p class="font-semibold uppercase text-xl dark:text-white text-gray-900">{{user_profile.name_last}}&nbsp;&nbsp;{{user_profile.name_first}}</p>
                    <p class="dark:text-gray-300 text-center text-gray-700">@{{user_profile.user.username}}</p>   
                </span>
                <span>
                    {%if user_profile.user.username == request.user.username%}
                        <a href="{%url 'core:settings'%}" class="text-white items-center px-2 border-2 py-1 rounded-full bg-blue-600 hover:bg-blue-600 duration-500">Edit Profile</a>
                    {%else%}
                        <a href="/follow?username={{user_profile.user.username}}">
                            {%if is_following%}
                                <p class="text-white flex p-2 items-center px-2 border-2 rounded-full bg-red-400 hover:bg-red-500 duration-500">
                                    Unfollow
                                </p>
                            {%else%}
                                <p class="text-white flex p-2 items-center px-2 border-2 rounded-full bg-blue-500 hover:bg-blue-600 duration-500">
                                    Follow
                                </p>
                            {%endif%}
                            </a>
                    {%endif%}
                </span>    
            </div>
            <div>
                <a href="{{user_profile.background_profile_pics.url}}">
                    <img src="{{user_profile.background_profile_pics.url}}" class="rounded-lg object-cover w-full" alt="Background Image">
                </a>
                <div class="text-black font-semibold text-sm -mt-12 justify-between bg-white p-2 rounded-md absolute">
                    <span class="md:pl-4 text-gray-500 hover:text-black">{{user_post_length}} 
                        {%if user_post_length == 0 %}
                            Posts
                        {%elif user_post_length == 1%}
                            Post
                        {%else%}
                            Posts
                        {%endif%}
                    </span>
                    <a href="followers?username={{user_profile.user.username}}">
                        <span class="md:pl-4 text-gray-500 hover:text-black">{{followers}} 
                            {%if followers == 0 %}
                                Followers
                            {%elif followers == 1%}
                                Follower
                            {%else%}
                                Followers
                            {%endif%}
                        </span>
                    </a>
                    <a href="following?username={{user_profile.user.username}}"><span class="md:pl-4 md:pr-4 text-gray-500 hover:text-black">Following {{following}}</span></a>
                </div>
            </div>
            <div class ="flex justify-end -mt-16">
                <div>
                    <a href="{{user_profile.profile_pics.url}}">
                        <img src="{{user_profile.profile_pics.url}}" class="profile_img mr-3 w-20 h-20 border-2 border-gray-300" alt="Profile Image">
                    </a>
                </div>   
            </div>  
            <div class="border-y-2 border-gray-300 dark:border-gray-600 mb-5 mt-10">
                <p class="font-semibold dark:text-gray-300 text-gray-500 flex justify-center mt-10 text-xl">BIO</p>
                <div class="text-white rounded-lg max-w-4xl break-all my-5 p-3 flex justify-center"> 
                    {{user_profile.bio}}
                </div>
                <span><i class="mt-8 fa-solid fa-location-dot mb-2 text-blue-600"></i></span>
                <span class="text-gray-800 mb-2 w-20 font-semibold align-text-bottom mt-3 py-1 px-3 h-10 dark:text-gray-300">{{user_profile.continent}}, {{user_profile.country}}
                </span>
            </div> 
            {%if user_profile.user.username == request.user.username%} 
                {%if post%}
                    <p class="font-bold mt-10 flex justify-center text-gray-600 dark:text-gray-300">All Posts By You</p>   
                {%else%}
                    <p class="font-bold mt-20 flex justify-center text-gray-600 mb-56 dark:text-gray-300">All posts you share will appear on your profile.</p>
                {%endif%}
            {%else%}
                {%if post%}
                    <p class="font-bold mt-10 flex justify-center text-gray-600 dark:text-gray-300">All Posts By @{{user_profile.user.username}}</p>
                {%else%}
                    <p class="font-bold mt-20 flex justify-center text-gray-600 mb-40 dark:text-gray-300">@{{user_profile.user.username}} has no post</p>
                {%endif%}
            {%endif%}
            {%for post in post reversed%}
                <div class="postdiv mb-10 mt-10 overflow-hidden bg-gray-100 dark:bg-gray-900 rounded-md" id="">
                    <div class="flex justify-between mb-3">
                        <p class="p-3 font-semibold cursor-pointer hover:underline dark:text-gray-200">@{{user_profile.user.username}}</p>
                        <div class="block mr-5">
                            <div class="flex justify-center">
                                <i id="" class="postoption fa-solid fa-ellipsis p-2 mt-2 cursor-pointer hover: border-gray-200 hover:rounded-full hover:bg-gray-200 duration-500 dark:text-gray-200 dark:hover:bg-gray-700"></i>
                            </div>
                            <div id ="" class="deletepost opacity-0 cursor-pointer">
                                <i class="fa-solid fa-trash pt-1 text-red-500"></i><span class="lowercase text-red-500 pl-2">Delete</span>
                            </div>
                        </div>    
                    </div>
                    {%if post.post_file%}
                        <a href="{{post.post_file.url}}">
                            {%if '.mp4' in post.post_file.url%}
                                <video controls src="{{post.post_file.url}}" class="cursor-zoom-in"></video>
                            {%else%}
                            <div class="flex justify-center">
                                <img src="{{post.post_file.url}}" class="cursor-zoom-in" alt="Post Image">
                            </div>    
                            {%endif%}
                        </a>
                    {%endif%}
                    <div class="p-4">
                        <p class="dark:text-gray-200">{{post.caption}}</p>
                        <p class="dark:text-gray-200">{{post.likes.count}} 
                            {%if post.likes.count == 0%}
                                likes
                            {% elif post.likes.count == 1%}
                                like
                            {%else%}
                                likes
                            {%endif%}
                        </p>
                        <p class="dark:text-gray-200">{{post.time_of_post}}</p>
                    </div>
                </div>
            {%endfor%}
        </div>  
    </div>
    {%include 'partials/footnote.html'%}
</div>
<script type="text/javascript">
    //toggle functionality for light/dark modes
    const sunIcon = document.getElementById('sun')
    const moonIcon = document.getElementById('moon')
    
    const userTheme = localStorage.getItem('theme')
    const systemTheme = window.matchMedia('(prefered-color-scheme: dark)').matches
    
    const iconToggle = ()=>{
        sunIcon.classList.toggle('hidden')
        moonIcon.classList.toggle('hidden')
    }
    
    const themeCheck = ()=>{
        if(userTheme === 'dark' || (!userTheme && systemTheme)){
            document.documentElement.classList.add('dark')
            moonIcon.classList.add('hidden')
            return;
        }
        sunIcon.classList.add('hidden')
    }
    
    const themeSwitch = ()=> {
        if (document.documentElement.classList.contains('dark')){
            document.documentElement.classList.remove('dark')
            localStorage.setItem('theme', 'Light')
            iconToggle()
            return;
        }
        document.documentElement.classList.add('dark');
        localStorage.setItem('theme', 'dark')
        iconToggle()
    }
    
    sunIcon.addEventListener('click', ()=>{
        themeSwitch()
    })
    
    moonIcon.addEventListener('click', ()=>{
        themeSwitch()
    })
    
    themeCheck()
</script>
{%endblock%}