{%extends 'base.html'%}
{%load static%}

{%block content%}
<div class="dark:bg-black overflow-hidden">
    <div class="text-gray-100 flex justify-center mx-auto pb-4 sticky top-0 bg-white dark:bg-black z-10">
        {%include 'partials/navbar2.html'%}
    </div>
    <div class="bg-white dark:bg-black max-w-6xl mx-auto flex justify-center container">
        <div class=" py-10 border-l-2 border-gray-300 dark:border-gray-600 px-2 w-full">
            <div class="flex justify-between pb-3">
                <span>
                    <p class="font-semibold uppercase text-xl text-gray-700 dark:text-white">{{user_profile.name_last}}&nbsp;&nbsp;{{user_profile.name_first}}</p>
                    <p class="text-gray-500 dark:text-gray-300 text-center">@{{user_profile.user.username}}</p>
                </span>  
                <span>
                    <p class="dark:text-gray-300 md:p-2 p-1 border-gray-300 border-2 rounded-lg text-sm"><a href="{%url 'password_change'%}">Change Password</a></p>
                </span>     
            </div>
            <form action="" method="POST" id="form_data" enctype="multipart/form-data">{%csrf_token%} 
                <div>
                    <a href="{{user_profile.background_profile_pics.url}}">
                        <img src="{{user_profile.background_profile_pics.url}}" class="rounded-lg object-cover w-full" alt="Background Image">
                    </a>    
                    
                </div>
                <div class="flex mx-auto container">
                    <div class ="prof flex -mt-20 items-baseline">
                        <div class="">
                            <a href="{{user_profile.profile_pics.url}}">
                                <img src="{{user_profile.profile_pics.url}}" class="profile_img w-20 h-20 border-2 border-gray-300" alt="Profile Image">
                            </a>
                            <input type="file" class="pt-2 text-gray-600 dark:text-white" name="profile_pic">
                        </div>     
                    </div> 
                    <div class="-mt-16 mx-auto">
                        <input type="file" class="pt-2 text-gray-600 text-sm dark:text-white" name="bg_pics">
                    </div> 
                </div>
          
                <p class="font-semibold text-gray-500 dark:text-gray-300 flex justify-center mt-10 text-xl">BIO</p> 
                <textarea id='bio' class="w-full h-44 border-2 resize-none mt-5 px-3" type="text" placeholder="Bio" name="bio">{{user_profile.bio}}</textarea>
                <p class="pb-2"><input class="px-2 border-2 border-gray-300 rounded-md" type="text" placeholder="Country" name="country" value="{{user_profile.country}}" required></p>
                <p class="pb-2"><input class="px-2 border-2 border-gray-300 rounded-md" type="text" placeholder="City" name="city" value="{{user_profile.city}}"></p>
                <div class="flex justify-between mt-7 mb-20">
                    <p id="cancel" class="text-black border-2 border-black bg-white rounded-full px-2 hover:bg-red-400 hover:text-white duration-300 cursor-pointer">Cancel</p>
                    <input class="text-black bg-white rounded-full border-2 border-black px-3 cursor-pointer hover:bg-blue-600 hover:text-white duration-500" type="submit" value="Save">
                </div>
            </form> 
        </div>       
    </div>
    {%include 'partials/footnote.html'%}
</div>

<script type="text/javascript">
const formdiv = document.getElementById('form_data')
const cancel = document.getElementById('cancel')

cancel.addEventListener('click', ()=>{
    formdiv.reset()
})

//toggle functionality for light/dark modes
const sunIcon = document.getElementById('sun')
const moonIcon = document.getElementById('moon')

const userTheme = localStorage.getItem('theme')
const systemTheme = window.matchMedia('(prefered-color-scheme: dark)').matches

const iconToggle = ()=>{
    sunIcon.classList.toggle('hidden')
    moonIcon.classList.toggle('hidden')
}

const themeCheck = ()=>{
    if(userTheme === 'dark' || (!userTheme && systemTheme)){
        document.documentElement.classList.add('dark')
        moonIcon.classList.add('hidden')
        return;
    }
    sunIcon.classList.add('hidden')
}

const themeSwitch = ()=> {
    if (document.documentElement.classList.contains('dark')){
        document.documentElement.classList.remove('dark')
        localStorage.setItem('theme', 'Light')
        iconToggle()
        return;
    }
    document.documentElement.classList.add('dark');
    localStorage.setItem('theme', 'dark')
    iconToggle()
}

sunIcon.addEventListener('click', ()=>{
    themeSwitch()
})

moonIcon.addEventListener('click', ()=>{
    themeSwitch()
})

themeCheck()
</script>
{%endblock%}