{%extends 'base.html'%}
{%load static%}
{%block content%}

{%for post in posts reversed%}
<div class="postdiv mb-10 mt-10 overflow-hidden bg-gray-100 dark:bg-gray-800 rounded-md">
    <div class="flex justify-between mb-3">
        <a href="{% url 'core:profile' username=post.user %}">
            <p class="p-3 font-semibold cursor-pointer text-black hover:underline dark:text-gray-200">@{{post.user}}</p>
        </a>
        <div class="block mr-5">
            <div class="flex justify-center">
                <i id="ellipsis" class="postoption fa-solid fa-ellipsis p-2 mt-2 cursor-pointer hover: border-gray-200 hover:rounded-full hover:bg-gray-200 duration-500 dark:text-gray-200 dark:hover:bg-gray-700"></i>
            </div>
        </div>   
    </div>
    <div id ="follow-delete" class="deletepost opacity-0 cursor-pointer flex justify-end mr-5 -mt-5 mb-3">
        {%if post.user == user_profile.user.username%}
            <div>
                <i class="fa-solid fa-trash pt-1 text-red-500"></i>
                <span class="lowercase text-red-500 pl-2"hx-delete="/delete-post?post_id={{post.id}}"hx-confirm="Are you sure you want to delete this post?"hx-target="#post_id">
                    Delete
                </span>   
            </div>     
        {%else%}
            <a href="/follow?username={{post.user}}">
                <span class=" text-red-500 font-semibold hover:underline">Unfollow</span><i class="fa-solid fa-user-minus pt-1 text-red-500 pl-2"></i>
            </a>
        {%endif%}
    </div>
    <div class="form_data">
        {%if post.post_file%}
            <a href="{{post.post_file.url}}">
                {%if '.mp4' in post.post_file.url%}
                    <video controls src="{{post.post_file.url}}" class="cursor-pointer"></video>
                {%else%}
                    <div class="flex justify-center">
                        <img src="{{post.post_file.url}}" class="cursor-pointer" alt="Post Image">
                    </div>
                {%endif%}
            </a>
            <div class="flex justify-between">
                <p class="px-4 pt-2 dark:text-gray-200">{{post.caption}}</p>
                <a href="{{post.post_file.url}}" download><i class="text-2xl fa-solid fa-download m-4 dark:text-gray-200"></i></a>   
            </div>
        {%else%}
            <p class="px-4 dark:text-gray-200">{{post.caption}}</p> 
        {%endif%}
    </div>
    <div class="p-4">
        <div class="flex">
            <div class="cursor-pointer">
                <form action=""  class="like"> {%csrf_token%}
                    <a href="/like-post?post_id={{post.id}}" name="post_id" id="post_id">
                        {%if liked_post%}
                            <i id="like_button" class="text-2xl like_button fa-regular fa-heart dark:text-gray-300"></i>
                        {%else%}
                            <i id="like_button" class="text-2xl like_button fa-regular fa-heart dark:text-gray-300"></i>
                        {%endif%}
                    </a>
                </form>        
            </div>
            <a href="{%url 'core:comments' post_id=post.id %}">
                <i class="text-2xl fa-regular fa-comment pl-4 dark:text-gray-300"></i>
            </a>    
        </div>
        <p class="dark:text-gray-400">{{post.likes}} 
            {%if post.likes == 0%}
                likes
            {% elif post.likes == 1%}
                like
            {%else%}
                likes
            {%endif%}
        </p>
        <a href="{%url 'core:comments' post_id=post.id %}"><p class="dark:text-gray-400 text-gray-500">View all {{post.no_of_comments}} comments</p></a>
        <p class="dark:text-gray-300">{{post.time_of_post}}</p>
    </div>
</div>

{%endfor%}
{%endblock%}